@media(max-width: 1440px) {
  .about-us__wrapper {
    flex-direction: column;
  }

  .about-us__left {
    width: 100%;
    margin-bottom: 32px;
  }

  .about-us__right {
    width: 100%;
  }

  .footer__center {
    width: 42.2%;
  }

  .footer__right {
    width: 28.5%;
  }
}

@media(max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .section-offset {
    margin-bottom: 80px;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .logo-icon {
    margin-right: 8px;
    width: 26px;
    height: 48px;
  }

  .logo-title {
    width: 117px;
    height: 29px;
  }

  .header__right {
    padding-left: 0;
  }

  .hero {
    min-height: 668px;
  }

  .hero__content {
    padding-top: 160px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    padding: 24px 30px;
  }

  .about-us__wrapper {
    flex-direction: column;
  }

  .about-us__left {
    width: 100%;
    margin-bottom: 32px;
  }

  .about-us__right {
    width: 100%;
  }

  .how-we-work__steps {
    margin-bottom: 50px;
  }

  .how-we-work__item-left {
    max-width: 47.29%;
  }

  .how-we-work__item-text {
    margin-bottom: 25px;
  }

  .how-we-work__item-right {
    max-width: 47.29%;
  }

  .faq__item-title {
    font-size: 20px;
  }

  .footer__left {
    width: 27.67%;
  }

  .footer__center {
    width: 59.65%;
  }

  .footer__right {
    display: none;
  }
}

@media(max-width: 950px) {
  .header__wrap {
    height: 69px;
  }

  .hero__content {
    padding: 100px 40px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
  }

  .about-us__item-text {
    margin-right: 48px;
  }

  .about-us__item {
    padding: 65px 0 65px 25.45%;
  }

  .about-us__item-1::after {
    left: 6%;
    width: 17%;
  }

  .about-us__item-2::after {
    left: 6%;
    width: 17%;
  }

  .how-we-work__steps {
    justify-content: space-between;
  }

  .how-we-work__item {
    flex-direction: column-reverse;
  }

  .how-we-work__item-right {
    margin-bottom: 38px;
    max-width: 100%;
    height: 284px;
  }

  .how-we-work__item-right-1 {
    background: url('../img/how-we-work-item-back-1-437.jpg'), #998A8A;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .how-we-work__item-left {
    max-width: 100%;
  }
}

@media(max-width: 880px) {
  .about-us__caption {
    padding: 34px 40px;
  }

  .about-us__item {
    padding: 35px 0 35px 25.45%;
  }

  .about-us__item-title {
    width: 95%;
  }

  .about-us__item-text {
    width: 85%;
  }

  .faq {
    margin-bottom: 80px !important;
  }

  .faq__item:not(:first-child) {
    height: 126px;
  }

  .footer__wrap {
    flex-direction: column-reverse;
  }

  .footer__left {
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .footer__social {
    position: relative;
    bottom: 0;
  }

  .footer__center {
    margin-bottom: 50px;
    min-width: 70.44%;
  }

  .footer__nav {
    display: none;
  }
}

@media(max-width: 750px) {
  .section-offset {
    margin-bottom: 60px;
  }

  .section-offset__title {
    font-size: 24px;
    line-height: 29px;
  }

  .how-we-work__steps {
    margin-bottom: 16px;
    justify-content: space-between;
  }

  .how-we-work__step:not(:last-child) {
    margin-right: 0;
  }

  .how-we-work__title {
    margin-bottom: 16px;
  }

  .how-we-work__step {
    font-size: 14px;
    line-height: 17px;
  }

  .how-we-work__item-right {
    margin-bottom: 16px;
    max-width: 100%;
    max-height: 160px;
  }

  .how-we-work__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how-we-work__item-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 32px;
  }

  .footer__wrap {
    padding: 32px 0;
  }

  .footer__center {
    margin-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid #595959;
  }

  .form__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 29px;
  }

  .form__input {
    font-size: 14px;
  }

  .form__textarea {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .form__send {
    flex-direction: column;
  }

  .form__btn {
    margin-bottom: 11px;
    padding: 12px 23px;
    width: 180px;
    min-height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .form__control {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .footer__logo {
    justify-content: center;
  }

  .footer__logo .logo-icon {
    margin-right: 7px;
    width: 22px;
    height: 42px;
  }

  .footer__logo .logo-title {
    width: 102px;
    height: 25px;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .footer__social-link svg {
    width: 40px;
  }

  .footer__social-link:not(:last-child) {
    margin-right: 16px;
  }
}

@media(max-width: 650px) {
  .container {
    padding: 0 15px;
  }

  .hero {
    min-height: 308px;
  }

  .hero__content {
    padding: 60px 22px;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    margin-left: calc(50% - 78px);
    display: block;
    padding: 14px 26px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__switch {
    bottom: 15px;
  }

  .about-us__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__left {
    margin: 0 0 32px 0;
    padding-top: 72%;
    padding-bottom: 0;
    flex-direction: column;
    height: fit-content;
    background-size: contain;
    background-position-y: top;
  }

  .about-us__caption {
    position: relative;
    display: block;
    padding: 0;
    background-color: transparent;
  }

  .about-us__caption-text {
    margin-bottom: 8px;
    padding-right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--main-color);
  }

  .about-us__caption-link {
    display: block;
    padding: 11px 14px;
    max-width: 162px;
    font-size: 12px;
    line-height: 15px;
    color: var(--orange);
  }

  .about-us__caption-link:focus {
    color: #fff;
  }

  .about-us__caption-link:hover {
    color: #fff;
  }

  .about-us__item {
    padding: 61px 0 0 0;
    border: none;
  }

  .about-us__item-1::after {
    top: 0;
    left: 0;
    width: 64px;
    height: 49px;
  }

  .about-us__item-2::after {
    top: 0;
    left: 0;
    width: 64px;
    height: 49px;
  }

  .about-us__item-title {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about-us__item-text {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  .faq__title {
    margin-bottom: 16px;
  }

  .faq__item-title {
    padding: 30px 0;
    height: fit-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__item svg {
    min-width: 30px;
    max-height: 30px;
  }
}

@media(max-width: 450px) {
  .logo-icon {
    margin-right: 6px;
    width: 19px;
    height: 35px;
  }

  .logo-title {
    width: 85px;
    height: 21px;
  }

  .about-us__title {
    margin-bottom: 20px;
  }

  .about-us__caption-text {
    padding-top: 5px;
  }

  .about-us__item-title {
    margin-bottom: 5px;
  }

  .how-we-work__title {
    margin-bottom: 22px;
  }

  .how-we-work__item-text {
    font-size: 14px;
    line-height: 28px;
  }

  .how-we-work__item-btn {
    margin-right: 10px;
    padding: 11px 0;
    max-width: 56%;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 1;
  }

  .how-we-work__item-link {
    padding: 11px 0;
    max-width: 41%;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    flex-grow: 1;
  }

  .faq {
    margin-bottom: 55px !important;
  }

  .faq__item:not(:first-child) {
    height: fit-content;
  }

  .form__textarea {
    margin-bottom: 15px;
  }

  .form__btn {
    margin-bottom: 19px;
  }
}
